<h6>    Gloabl Begin>>  {{globalService.globalVar}}  <<End </h6>


<h6 class="text-center">Leden lijst</h6>
<br>

<table class="table table-sm table-hover">
  <tr *ngFor="let lid of ledenLijst">
    <td>{{lid.id}} {{lid.naam}}</td>
    <td>{{lid.gebdat | date:"dd-MM-yyyy" }}</td>
    <td>{{lid.geslacht }}</td>
    <td>{{lid.email }} <br> {{lid.factuurEmail }}<</td>
    
    <td>{{lid.straat }} {{lid.huisnummer }} 
      <br> {{lid.postcode }} {{lid.woonplaats }} </td>
    <td>{{lid.mobiel }} </td>
    <td>
      <a class="btn" (click)="onEdit(lid)">
      <i class="fa fa-pencil-square-o"></i></a>
      <a class="btn" (click)="onRemove(lid)">
      <i class="fa fa-trash-o"></i></a>
    </td>
  </tr>
</table>
